{% extends "WebJF/base.html" %}

{% load static %}

{% block content %}

 <!-- ======= Contact Section ======= -->

     <!-- ======= Hero Section ======= -->
  


  <div class="contenedorformulario" style="display: flex; justify-content: center;">
    

    <form action="" method="POST" style="text-align: left;">
      <table style="margin: 20px auto;"> 
        
        {% csrf_token %}
        {{ form }}
      </table>
      <div style="text-align: center;">
        <input type="submit" value="Enviar" style="width: 120px;">
      </div>
    
      </form>
      
  </div>
  {% if "valido" in request.GET %}
  <div id="success-alert" class="alert alert-success" role="alert" style="width: 400px; justify-content: center;">
    Tu información ha sido enviada con éxito.
  </div>

  <script>
      // Esperar 5 segundos y ocultar el elemento
      setTimeout(function() {
          document.getElementById("success-alert").style.display = "none";
      }, 8000);
  </script>
  {% endif %}
  


{% endblock %}
