{% extends "WebJF/base.html" %}

{% load static %}

{% block content %}

 <!-- ======= Contact Section ======= -->

     <!-- ======= Hero Section ======= -->
  

     <div class="contenedorformulario d-flex justify-content-center">
      <form action="" method="POST" class="text-left">
        {% csrf_token %}
        <table class="mx-auto my-4">
          {{ form }}
        </table>
        <div class="text-center">
          <input type="submit" value="Enviar" class="btn btn-primary" style="width: 120px;">
        </div>
      </form>
    </div>
    


  {% if "valido" in request.GET %}
  <div id="success-alert" class="alert alert-success" role="alert" style="width: 400px; justify-content: center;">
    Tu información ha sido enviada con éxito.
  </div>

  <script>
      // Esperar 5 segundos y ocultar el elemento
      setTimeout(function() {
          document.getElementById("success-alert").style.display = "none";
      }, 8000);
  </script>
  {% endif %}
  


{% endblock %}
